{% extends "_base.html" %}
{% block content %}

<h1>Welcome to the Expense Tracker</h1>
<a href="{{ url_for('logout') }}">Logout</a>
<div class="add-task">
  <h3>Add a new expense:</h3>
  <table>
    <tr>
      <form action="{{ url_for('new_expense') }}" method="post">
      {{ form.csrf_token }}        
        <td>
          <label>Month:</label>
          <select name="month" width="100px">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </td>
        <td>
          <label>Expense:</label>
          <input name="name" type="text" width="120px">
        </td>
        <td>
          <label>Amount:</label>
          <input name="amount" type="text" width="50px">
          
        </td>
        <td>
          &nbsp;
          &nbsp;
          <input class="button" type="submit" value="Save">
        </td>
      </form>
    </tr>
  </table>
</div>
<div class="entries">
  <br>
  <br>
  <h2>Monthly Expenses:</h2>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="50px"><strong>ID</strong></th>
          <th width="100px"><strong>Month</strong></th>
          <th width="200px"><strong>Expense</strong></th>
          <th width="50px"><strong>Amount</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for expense in open_expenses %}
        <tr>
          <td width="50px">{{ expense.id }}</td>
          <td width="100px">{{ expense.month }}</td>
          <td width="200px">{{ expense.name }}</td>
          <td width="50px" style="text-align: right;">{{'%0.2f' % expense.amount|float }}</td>
          <td>
            <a href="{{ url_for('delete', expense_id = expense.id) }}">Delete</a> -
           
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <br>
</div>

{% endblock %}
